{% if theme_config.social.twitter %}
<a class="twitter" href="https://twitter.com/intent/tweet?text={{page.title}} by {{ theme_config.social.twitter }} - {{ page.url(true) }}" title="Twitter Share"><i class="fa fa-twitter" aria-hidden="true"></i></a>
{% endif %}
{% if theme_config.social.facebook %}
 <a class="facebook" href="#" onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      'facebook-share-dialog',
      'width=626,height=436');
    return false;" title="Facebook Share"><i class="fa fa-facebook" aria-hidden="true"></i>
</a>
{% endif %}
{% if theme_config.social.linkedin %}
	<a class="linkedin share" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url(true) }}" title="Linkedin Share" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i>
{% endif %}